.footer {
    position: relative;
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 5px 0;
    width: 100%;
    font-size: 12px;
  }
  

  